html, body {width:100%; height:100%; margin:0; padding: 0;}

/* html {
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: 1;

} */
body{
    font-family: 'DM Sans', sans-serif;
    color: #2b2118;
    display: flex;
    flex-direction: column;
    background-image: url("../img/moonBaja.png");
    background-size: cover;
    justify-content: space-between;

    animation-name: slide;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;

}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
/* 
#map{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* Create a top header that includes the title, slogan and a split section for top navigation */
#top-bar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-left:2%;
    width: 97%;

}

.top-right {
    display: flex;
    flex-direction: row;
    margin-left:auto;
}
#top-bar .name {
    /* float: left; */
    color:#FFB688;
    font-size: 48px;
}

@media (max-width: 1100px) {
    #top-bar .name {
        font-size: 32px;
    }
}

#top-bar .slogan {
    color:#FFB688;
    padding-left: 1%;
    font-size: 24px;
}

@media (max-width: 1100px) {
    #top-bar .slogan {
        font-size: 20px;
    }
}

#aboutus {
    text-decoration: none;
}
#top-bar a {
    /* float:right; */
    color: #0F50E9;
    padding-right: 30px;
    font-size: 24px;
}
@media (max-width: 1100px) {
    #top-bar a {
        font-size: 20px;
    }
}

#text {
    padding-left: 28%;
    padding-right: 5%;
    color: white;
    font-weight: 100;
    max-width: 600px;
}

.clickhere {
    color:#FFB688;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2%;
    font-weight: 100;
}

@media (max-width: 1100px) {
    .clickhere {
        font-size: 26px;
    }
}

.get-to-know{
    color: rgb(2, 2, 2);
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}


.get-to-know-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 432px;  
    border-radius: 25px; 
    background-image: linear-gradient(to top, #D9D9D9 132px, rgba(0,0,0,0) 132px);
    opacity: 0.3;
}
@media (max-width: 1100px) {
    .get-to-know-box{
        width: 250px;
        height: 350px;  
    }
}
.get-to-know-thoughts {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
}

@media (max-width: 1100px) {
    .get-to-know-thoughts {
        font-size: 20px;
    }
}

.get-to-know .get-to-know-image {
    width: 300px;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
} 

@media (max-width: 1100px) {
    .get-to-know .get-to-know-image {
        width: 250px;
        height: 250px;  
    }
}

.get-to-know-box:hover {
    opacity: 0.8;
}
.get-to-know-box:hover .get-to-know-thoughts{
    opacity: 1;
    transition: ease-in;
    transition-duration: 200ms;
}
