html, body {width:100%; height:100%; margin:0;}
body{
    font-family: 'DM Sans', sans-serif;
    background-color: white;
    color: #2b2118;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#map{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 70%;
    width: 70%;
}

/* Create a top header that includes the title, slogan and a split section for top navigation */
#top-bar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-left:2%;
    width: 97%;

}

.top-right {
    display: flex;
    flex-direction: row;
    margin-left:auto;
}


#top-bar .name {
    /* float: left; */
    color:black;
    font-size: 48px;
}
@media (max-width: 1100px) {
    #top-bar .name {
        font-size: 32px;
    }
}

#top-bar .slogan {
    color:black;
    padding-left: 1%;
    font-size: 24px;
}

@media (max-width: 1100px) {
    #top-bar .slogan {
        font-size: 20px;
    }
}

#top-bar a {
    /* float:right; */
    color: #0F50E9;
    padding-right: 30px;
    font-size: 24px;
}

@media (max-width: 1100px) {
    #top-bar a {
        font-size: 20px;
    }
}

#home {
    text-decoration: none;
}


#bottom-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    margin-bottom:2%;
}
@media (max-width: 1100px) {
    #bottom-text {
        font-size: 26px;
    }
}

